/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class] {
  /*color: var(--blue);*/
  font-weight: bold;
}

li[class$="og"] {
  color: var(--violet);
}

li[id="cat"] {
  color: var(--teal);
  font-weight: bold;
}

li[class^="p"] {
  color: green;
}

li[class*="don"] {
  color: var(--royalblue);
}

li[class="cat dog parrot"] {
  color: var(--royalblue);
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--green);
}

.first ~ li {
  color: var(--purple);
}

.second + li {
  color: var(--royalblue);
}
